<div class="btn-group" data-toggle="buttons-radio">
  <button class="btn structure">Structure</button>
  <button class="btn content">Content</button>
  <button class="btn relations">Relations</button>
  <button class="btn query">Query</button>
</div>