bookstore/.idea
bookstore/Bookstore-grailsPlugins.iml
bookstore/Bookstore.iml
bookstore/domainExplorer-inplacePlugin.iml
bookstore/.settings/
bookstore/.project
bookstore/.classpath
domain-explorer/Domain-explorer.iml
domain-explorer/target/
domain-explorer/.idea/