.boxsizingBorder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: url("../images/white_plaster.png") repeat scroll 0 0 transparent;
}

#main-content {
  height: 100%;
}

.layout {
  height: 100%;
}

@section-padding: 10px;
.ui-layout-pane {
  border: none;
  padding: 0;
}

#list-wrapper-resizer { //  opacity: 0;
  &:hover { //    opacity: 1;
  }
}

#list-wrapper,
#main-wrapper,
#class-wrapper {
  background-color: transparent;
  padding: @section-padding;
}

.section(){
  .boxsizingBorder();
//  padding: @section-padding;
  .header {
    background-image: -moz-linear-gradient(center top, #F5F5F5 0%, #ccc 100%); // TODO use mixin
    border-bottom: 1px solid #aaa;
    padding: 10px;
  }
//  border-radius: 10px;
//  border: 4px solid #888;
  box-shadow: 0 0 2px #555;
  & > .footer {
    padding: 10px;
  }
  background-color: #fff;
}

#head-wrapper {
  overflow: hidden;
  .navbar-inner {
    border-radius: 0;
  }
}


#list-wrapper {
  overflow: hidden;
  #list {
    .section;
    height: 100%;
    padding: 0;
    .header {
    }
    .content {
      & > ul {
        margin: 0;
        li {
          list-style-type: none;
          cursor: pointer;
          & > a {
            display: block;
            padding: 10px 10px;
            text-decoration: none;
            span {
              color: #4183C4;
            }
          }
          .count {
            color: #777;
            float: right;
          }
          &.active a {
            background-color: #0088CC;
            span {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

#main-wrapper {
  overflow: hidden;
    &  > .emptyView {
      height: 100%;
      & > .instruction {
        color: #999999;
        font-size: 25px;
        line-height: 25px;
        margin-top: -10px;
        position: absolute;
        text-align: center;
        text-shadow: 1px 1px #FFFFFF;
        top: 50%;
        width: 100%;
      }
    }
}

.domainView {
  .section;
  height: 100%;
  & > .header {
    ul.breadcrumb {
      background: none repeat scroll 0 0 transparent;
      border: medium none;
      margin: 0;
      padding: 0;
      box-shadow: none;
      li {
        text-shadow: none;
      }
    }
  }
  & > .hql {
    border-bottom: 1px solid #aaa;
  }
  & > .content {
    & > table {
      margin: 0;
      tr {
        cursor: pointer;
      }
    }
  }
}


.toolbar {
  padding: 5px;
  border-bottom: 1px solid #aaa;
  .btn-toolbar {
    overflow: hidden;
    .page-controls {
      float: right;
    }
    margin: 0;
  }
}

.domainTypeView {
  .section;
  height: 100%;
}

.view-instance,
.edit-instance {
  min-height: 100%;
  position: relative;
  .form-horizontal {
    padding: 20px 0;
    .control-label {
      padding-top: 0;
      width: 175px;
    }
    .controls {
      margin-left: 195px;
    }
  }
  .message-overlay {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    .message {
      position: absolute;
      line-height: 20px;
      top: 50%;
      margin-top: -10px;
      text-align: center;
      width: 100%;
    }
  }
  &.saving {
    .message-overlay {
      display: block;
    }
    .form-horizontal {
      display: none;
    }
  }
  .errors {
    li {
//      list-style-type: none;
      padding: 7px 0;
    }
  }

}

.instanceValue {
  &.oneToMany {
    white-space: nowrap;
  }
  &.null {
    font-style: italic;
  }
}

.nowrap {
  white-space: nowrap;
}

.hql-view {
  padding: 10px;
  textarea {
    .boxsizingBorder;
    width: 100%;
    font-family: monospace;
  }
  .controls {
    label {
      display: inline;
      margin-left: 10px;
    }
    input {
      display: inline;
      width: 50px;
      margin: 0;
    }
    text-align: right;
  }
}

.alert .close {
  background-color: transparent;
  border: medium none;
}