<div class="errors"></div>
<form class="form-horizontal">
  {{#each this}}
  <div class="control-group {{property.view}}"><label class="control-label">{{property.name}}:</label><div class="controls">{{property_edit}}</div></div>
  {{/each}}
</form>
<div class="message-overlay"><div class="message">Saving...</div></div>