<div class="form-horizontal">
  {{#each this}}
  <div class="control-group"><label class="control-label">{{property.name}}:</label><div class="controls">{{property_value}}</div></div>
  {{/each}}
</div>