html {
  height: 100%;
}

body {
/*padding-top: 40px;*/
  height: 100%;
//  padding: 10px;
}

.layout {
  height: 100%;
}

.ui-layout-pane {
  border: none;
  padding: 0;
}

.section(){
 .header {
    border-radius: 10px 10px 0 0;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #ccc 100%);
    border-bottom: 1px solid #aaa;
    padding: 10px;
  }
  border-radius: 10px;
  border: 1px solid #aaa;
  box-shadow: 0 0 2px #aaa;
  & > .footer {
      padding: 10px;
  }
}

#head-wrapper {
  overflow: hidden;
  .navbar-inner {
    border-radius: 0;
  }
}

#list-wrapper {
  padding: 10px 0 10px;
  overflow: hidden;
  #list {
    margin: 0 5px 0 10px;
    .section;
//    margin: 10px 5px 10px 10px;
    height: 100%;
    padding: 0;
    .header {
    }
    .content {
      & > ul {
        margin: 0;
        li {
          list-style-type: none;
//          border-top: 1px solid #fff;
//          border-bottom: 1px solid #aaa;
          cursor: pointer;
//          background-color: #eee;
          & > a {
            display: block;
            padding: 10px 10px;
            text-decoration: none;
            span {
              color: #4183C4;
            }
          }
          .count {
            color: #777;
//            font-weight: bold;
            float: right;
          }
          &.active a {
            background-color: #0088CC;
            span {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

#main-wrapper {
  padding: 10px 10px 10px 5px;
  overflow: hidden;
  #main {
    .section;
//    margin: 10px 10px 10px 5px;
    padding: 0;
  }

  .domainView {
    & > .header {
      span.count { //        float: right;
      }
    }
    & > .toolbar {
      padding: 5px 10px;
      border-bottom: 1px solid #aaa;
    }
    & > .content {
    }
  }
}

#list-wrapper-resizer {
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}