html {
  height: 100%;
}

body {
/*padding-top: 40px;*/
  height: 100%;
}

.layout {
  height: 100%;
}

.ui-layout-pane {
  border: none;
}

.section() {
  border-radius: 10px;
  border: 1px solid #aaa;
}

#list-wrapper {
  padding: 0;
  overflow: hidden;
  #list {
    .section;
    margin: 10px 5px 10px 10px;
    height: 100%;
    padding: 0;
    & > ul {
      margin: 0;
      li {
        list-style-type: none;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #aaa;
        cursor: pointer;
        background-color: #eee;
        & > a {
          display: block;
          padding: 15px 10px;
          text-decoration: none;
          span {
            color: #333333;
          }
        }
        .count {
          float: right;
        }
      }
    }
  }
}

#main-wrapper {
  padding: 0;
  overflow: hidden;
  #main {
    .section;
    margin: 10px 10px 10px 5px;
    padding: 0;
  }

  .domainView {
    .header {
      padding: 10px;
      border-bottom: 1px solid #aaa;
      span.count {
        float: right;
      }
    }
    .toolbar {
      padding: 5px 10px;
      border-bottom: 1px solid #aaa;
    }
  }
}

#list-wrapper-resizer {
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}