<div class="btn-group actions">
    <div class="btn-group">
        <button class="btn back">
            <i class="icon-arrow-left"></i>
            Back to search
        </button>
    </div>
    <div class="btn-group">
        <button class="btn delete">
            <i class="icon-trash"></i>
            Delete
        </button>
    </div>
</div>
<div class="pagination-container"></div>