<div class="showing"></div>
<div class="btn-group pag">
    <button class="btn prev">
        <i class="icon-chevron-left"></i>
    </button>
    <button class="btn next">
        <i class="icon-chevron-right"></i>
    </button>
</div>