<div class="toolbar-section">
    <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn back">
                <i class="icon-arrow-left"></i>
                Back to search
            </button>
        </div>
        <div class="btn-group">
            <button class="btn edit">
                <i class="icon-pencil"></i>
                Edit
            </button>
            <button class="btn delete">
                <i class="icon-trash"></i>
                Delete
            </button>
        </div>
    </div>
</div>
<div class="form-horizontal">
  {{#each this}}
      <div class="control-group"><label class="control-label">{{property.name}}:</label>

          <div class="controls">{{property_value}}</div>
      </div>
  {{/each}}
</div>