<div class="tabs-header">
    <ul class="nav nav-tabs">

        <li class="new">
            <a class="new" href="#">
                <i class="icon-plus"></i>
            </a>
        </li>
    </ul>
</div>
<div class="tabs-body"></div>