<div class="tabs-header">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#">
                Untitled 1
                <i class="icon-remove"></i>
            </a>
        </li>

        <li>
            <a class="new" href="#">
                <i class="icon-plus"></i>
            </a>
        </li>
    </ul>
</div>
<div class="tabs-body"></div>