<button class="btn create">
  <i class="icon-plus"></i>
  Create
</button>
<div class="btn-group page-controls">
  <button class="btn">
    <i class="icon-chevron-left"></i>
  </button>
  <button class="btn">
    <i class="icon-chevron-right"></i>
  </button>
</div>