<plugin name='domain-explorer' version='0.1' grailsVersion='1.3.7 &gt; *'>
  <author>Your name</author>
  <title>Domain Explorer Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/domain-explorer</documentation>
  <type>DomainExplorerGrailsPlugin</type>
  <resources>
    <resource>DomainExplorerUrlMappings</resource>
    <resource>org.grails.plugins.domainexplorer.DomainController</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>